# files
.*.swp
.*.swo
._*
.DS_Store

.svn/
*.orig
*.aps
*.APS
*.chm
*.exp
*.pdb
*.rar
*.mo
*.po
*.pot
.smbdelete*
*.sublime*
.sass-cache
config.rb

# folders
/ImgCache/
/Backup_rar/
/Debug/
/debug/
/upload/
/avatar/
/.idea/

/config.inc.php
/usr/uploads/
/usr/*.db
/usr/plugins/
!/usr/plugins/HelloWorld
/usr/themes/
!/usr/themes/default
!/usr/themes/WebStack
